<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://javax.ee/xml/ns/javaxee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://javax.ee/xml/ns/javaxee https://javax.ee/xml/ns/javaxee/beans_4_0.xsd"
       bean-discovery-mode="all">
</beans>